* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: 'Anton', sans-serif;
}
h2 {
  font-family: 'Anton', sans-serif;
}
p {
  font-family: 'Montserrat', sans-serif;
}
body {
  color: #2D3142;
  margin-left:10%;
  margin-right:10%;
  margin-bottom:5%;
}
.banner {
  width:100%;
  margin-left:0px;
  margin-top:0px;
  margin-right:0px;
  border-radius:5px;
}
/* .content{
  margin-left:150px;
  margin-right:150px;
  margin-top:5px;
  margin-bottom:5px; */
}
a{
  color:#F5F0F6;
}
a:link{
  color: #F5F0F6;
}
a:visited{
  color: #F5F0F6;
}
a:hover{
  color: #F5F0F6;
}
.tableNav{
  display:flex;
  justify-content:center;
  flex-direction:row;
  flex-wrap:wrap;
  /* overflow:hidden; */
  /* margin:auto; */
  background-color:#EF8354;
  border-radius:5px;
  padding:25px;
  margin-top:0px;
}
.navLinks{
  margin-left:15px;
  margin-right:15px;
  text-decoration:none;
  padding: 15px;
  background-color:#4F5D75;
  border-radius:5px;
}
.navLinks:hover{
  box-shadow: 5px 5px 5px #2D3142;
}
h1{
  font-size:35px;
}
.myPicture{
  width:200px;
  border-radius: 5px;
  float:left;
  margin-bottom:38px;
  margin-left:10px;
  margin-right:10px;
}
.myGradPicture{
  width:200px;
  border-radius: 5px;
  float:right;
  margin-bottom:38px;
  margin-left:10px;
  margin-right:10px;
}
.aboutMeContent{
  margin-left:10%;
  margin-right:10%;
}
.hobbyPicture{
  object-fit:cover;
  width:275px;
  height:200px;
}
.pictures{
  clear:both;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left:10%;
  margin-right:10%; */
  display: grid;
  /* grid-row-gap:15px; */
  grid-column-gap:38px;
}
.nature{
border-radius:5px;
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end: 2;
/* margin:5px; */
}
.painting{
border-radius:5px;
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 2;
/* margin:5px; */
}
.waterfire{
border-radius:5px;
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 2;
/* margin:5px; */
}
.pictureGrid{
  display: flex;
  justify-content:center;
  clear:both;
}
.ig{
  width:50px;
  margin-top:5px;
}
.keepInTouch{
  display: flex;
  justify-content:center;
  flex-direction:column;
  text-align:center;
  padding:5px;
}
.khanPrograms{
  display:flex;
  flex-direction:row;
  justify-content:center;
  margin:5px;
}
.dancingBitmoji{
  display:flex;
  flex-direction:column;
  text-align:center;
  padding:5px;
}
.racingBitmoji{
  display:flex;
  flex-direction:column;
  text-align:center;
  padding:5px;
}
