* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: 'Anton', sans-serif;
}
p {
  font-family: 'Montserrat', sans-serif;
}
body {
  color: #191919;

}
.banner {
  width:100%;
  margin-left:0px;
  margin-top:0px;
  margin-right:0px;
}
a:link{
  color: #0E6BA8;
}
a:visited{
  color: #0E6BA8;
}
a:hover{
  color: #39A2AE;
}
